/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
    margin: 0;
}
.logoS{
    width: 150px;
}
nav{
    background-color: #FFF;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    position: fixed;
    width: 100%;
}
nav>div{
display: flex;
justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.concert {
    background-image: url("/images/landing.jpg");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1{
font-size: 80px;
}
header>p{
    font-size: 30px;
}
.whatsOn{
    height: 225px;
}
.titolMenu{
    display: flex;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;

}
.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section>div>div img{
    width: 100px;
    display: flex;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 50%;
   
}
.fons-verd{
    background-color: #00B172;
    background-image: url(/images/spotify-icon-white.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midaBona{
    width: 40%;
}